a{
  color:white;
    text-decoration: none;
}
ul{
    display: inline-block;
}
header ul{
    padding-top:10px;
} 
header ul li { 
    display:inline; 
    border-left:1px solid #999; 
    font:bold 12px Dotum; 
    padding:0 10px;
} 
header ul li:first-child{
    border-left:none;
}

.m_click{
    color:rgb(78, 60, 60);
}
.m_non-click{
    color:white;
}