body{
    position: absolute;
    left:50%;
    top:5%;
    transform: translate(-50%,0%);   
    font-family: Consolas, monaco, monospace;
    text-align: center;
    background-color: aquamarine;
}
.stopwatch{
    border-style: solid;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    background-color: white
}
.check{   
    border-radius: 5px;
    border-style: solid;
    background-color: white;
    width: 170px;
}
.btn{
    border-radius: 5px;
    border-style: solid;
    background-color: white;
    width: 80px;
}
.check:hover,.btn:hover{
    background-color: rgb(226, 222, 222);
}
.ms{

    font-weight: lighter;
    font-size: 20px;
}
#show{
    font-weight: bolder;
    font-size: 30px;
}
.s,.ms{
    color:black
}
.h,.m{
    color:rgb(160, 160, 160);
}

#check_list{
    font-weight: 500;
}