body{
    font-family: Consolas, monaco, monospace;
    background-color: gray;
}
textarea{
    width: 300px;
    height: 300px;
    font-size: 20px;
    background-color: white;
    color:black;
}
.form{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.btn{
    width: 305px;
    border-style: solid;
}