#overlay{
    position: absolute;
    top:0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.384);
    z-index: 100;
}
.hidden{
    display: none;
}

.setting_class{
    text-align: center;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 250px;
    height: 250px;
    background-color:rgba(54, 54, 54, 0.897);

    z-index: 101;
}
.day,.get-start-class,.get-fin-class,.calendar-setting,.subject-name{
    margin-top: 5px;
}
 
.day,.get-start-class,.get-fin-class,.calendar-setting{
    width: 180px;
    height: 30px;
}
.subject-name{
    width: 170px;
}
.setting-class-btn{
    margin-left: 110px;
}
.mb{
    margin-top: 5px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border-style: solid;
    transition: all ease 0.5s;
}
.mb:hover{
    background-color: rgb(175, 175, 175);
    color:white;
}
.save_class{
    text-align: center;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 250px;
    height: 250px;
    background-color: rgba(54, 54, 54, 0.897);
    z-index: 101;
}

.load_class{
    text-align: center;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 250px;
    height: 250px;
    background-color: rgba(54, 54, 54, 0.897);
    z-index: 101;
}

.center{
    position: absolute;
    top:40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.center_setting{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.sb{
    margin-top: 10px;
    width: 180px;
    height: 30px;
}

.cb{
    color:red;
    background-color: rgba(0, 0, 0, 0);
    border-style: none;
    position: relative;
    margin-top: 10px;
    left: 105px;
}
.cb:hover{
    cursor: pointer;
}