.btn{
    width: 130px;
    height: 40px;
    border-style: solid;
    border-radius: 5px;
    color:white;
    transition: all ease-in 0.6s;
}
.btn:hover{
    width: 200px;
}
.bg_r{
    border-color:rgb(189, 34, 29) ;
    background-color: rgb(255, 81, 58);
}
.bg_r:hover{
    background-color: rgb(246, 150, 112);
}
.bg_o{
    border-color:rgb(184, 119, 0) ;
    background-color: rgb(255, 179, 58);
}
.bg_o:hover{
    background-color: rgb(250, 213, 145);
}
.bg_y{
    border-color:rgb(191, 195, 132) ;
    background-color: rgb(255, 255, 116);
}
.bg_y:hover{
    
    background-color: rgb(248, 248, 179);
}