body{
    background-color: rgb(186, 235, 235);
    font-family: Consolas, monaco, monospace;
}
b{
    
    position: absolute;
    width: 100px;
    top:-50%;
    left: 50%;
    transform: translate(-50%,0%);
}
h1{
    position: absolute;
    top:20%;
    left: 50%;
    transform: translate(-50%,0%);
}
.loginform{
    position: absolute;
    top:30%;
    left: 50%;
    width: 300px;
    height: 300px;
    transform: translate(-50%,0%);
    background-color: rgb(15, 153, 207);
    border-radius: 30px;
}
.loginform:hover{
    
    background-color: rgb(45, 130, 163);
}
.form{
    position: absolute;
    top:30%;
    left: 50%;
    transform: translate(-50%,0%);
}
input{
    width: 150px;
}
.btn{
    width: 160px;
}
#result{
    color:rgb(172, 241, 221);
    position: absolute;
    top:180px;
    left: 50%;
    transform: translate(-50%,0%);
}
.btn{
    border-style: solid;
    border-radius: 5px;
}
.btn:hover{
    background-color: rgb(75, 105, 94);
    color: rgb(209, 241, 229);
}