#bottom-bar ul .clear-bar{
    position: absolute;
    top:0%;
    height: 100%;
    right: 0px;
    padding-left: 0px;
    padding-right: 1px;
    width: 3px;
    border-left: 1px solid rgb(173, 173, 173);
}

#bottom-bar ul .clear-bar:hover{
    background-color: #f0f0f0;
}